.page-header {
  width: 100%;
  max-width: 1159px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 36px 21px 21px 21px;
  position: relative;

  @media (max-width: $tablet-max) {
    padding: 0 0 0 16px;
  }

  @media (max-width: $phone-max) {
    
  }
}

.page-header__logo {
  display: inline-block;
  height: 22px;

  @media (max-width: $tablet-max) {
    height: 17px;
  }
}

.page-header__logo img {
  width: 57px;
  height: 22px;

  @media (max-width: $tablet-max) {
    width: 44px;
    height: 17px;
  }
}