//Paddings

@mixin set-paddings () {
  padding-left: $phone-paddings;
  padding-right: $phone-paddings;

  @media (min-width: $tablet) {
    padding-left: $tablet-paddings;
    padding-right: $tablet-paddings;
  }

  @media (min-width: $desktop) {
    padding-left: $desktop-paddings;
    padding-right: $desktop-paddings;
  }
}

//Visually-hidden
@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//Margins
@mixin reset-child-margins() {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

//Containder 
@mixin set-container () {
  @media (min-width: $tablet) {
    max-width: $tablet-max;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    max-width: $desktop-max;
  }
}